span { display: block; }
.caixa-recrutador { padding: 5px 50px 5px 15px; margin: 5px 0px; overflow: hidden; }

@media screen and (max-width: 320px) {
    .caixa-recrutador { padding: 5px 15px 5px 5px;}
}