.logo { background: url('/static/images/logoTopo.gif') no-repeat; }
.limpar { background: url('/static/images/limpar.gif') no-repeat ; }
.enviar { background: url('/static/images/enviar.gif') no-repeat ; }
.fechar { background: url('/static/images/fechar.gif') no-repeat;  }
.minimizar {background: url(/static/images/minimizar.gif ) no-repeat ;  }
.restaurar {background: url(/static/images/restaurar.gif ) no-repeat ;  }